.row {
    display: flex;
    flex-direction: row;
}

.col {
    display: flex;
    flex-direction: column;
}

.w100 {
    width: 100%;
}

.cella {
  flex: 1 0 0;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.forog {
    transform: rotate(90deg);
}

.felforogPoz {
    transform: rotate(45deg);
}

.felforogNeg {
    transform: rotate(-45deg);
}

.btns button {
    width: 100%;
    height: 100%;
}

.around {
    justify-content: space-around;
}

.gap {
    gap: 0.5rem;
}