body {
    overflow-y: hidden;
}

.sidebar {
    transition: width 0.3s ease;
    height: 100%;
}

#sidebardiv {
    height: 100vh;
    top: 0;
    overflow-y: auto;
}

.sticky {
    position: sticky;
    top: 0;
    left: 0;
    height: 100vh;
}

.sidebar .nav-link {
    display: flex;
    align-items: center;
    gap: 12px;
    color: #adb5bd;
}

.sidebar .nav-link:hover {
    background-color: #343a40;
    color: #fff;
}

.sidebar .nav-link.active {
    background-color: #0d6efd;
    color: #fff;
}

.sidebar.collapsed .nav-link svg {
    display: block;
    margin: 0 auto;
}

#usersTable th:last-child {
    text-align: center;
}