body {
    background: #943ec9;
    background: linear-gradient(132deg, rgba(148, 62, 201, 1) 1%, rgba(201, 66, 153, 1) 52%, rgba(148, 62, 201, 1) 100%);
}

.space-background {
    color: white;
    width: 100%;
    min-height: 100vh;
    margin: 0;

    --space-black: #020205;
    --nebula-purple: rgba(72, 49, 212, 0.4);
    --nebula-pink: rgba(204, 43, 94, 0.3);
    --star-white: rgba(255, 255, 255, 0.8);

    background:
        radial-gradient(1px 1px at 10% 20%, var(--star-white) 100%, transparent),
        radial-gradient(1px 1px at 30% 50%, var(--star-white) 100%, transparent),
        radial-gradient(1.5px 1.5px at 70% 80%, var(--star-white) 100%, transparent),
        radial-gradient(1px 1px at 90% 10%, var(--star-white) 100%, transparent),
        radial-gradient(1px 1px at 50% 90%, var(--star-white) 100%, transparent),

        radial-gradient(circle at var(--nebula-pos-1, 20% 30%), var(--nebula-purple) 0%, transparent 50%),
        radial-gradient(circle at var(--nebula-pos-2, 80% 70%), var(--nebula-pink) 0%, transparent 50%),

        var(--space-black);

    background-attachment: fixed;
    animation: spaceFloat 20s ease-in-out infinite alternate;
}


@keyframes spaceFloat {
    0% {
        --nebula-pos-1: 20% 30%;
        --nebula-pos-2: 80% 70%;
    }

    100% {
        --nebula-pos-1: 30% 40%;
        --nebula-pos-2: 70% 60%;
    }
}

header {
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 150px;
    color: rgba(255, 255, 255, 0.622);
    font-family: monospace;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

main {
    margin-top: 150px;
}

section {
    border-color: black;
    border-style: solid;
    border-width: 5px 0px 5px 0px;
    margin-bottom: 30px !important;
}

.online-dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #2ecc71;
    border-radius: 50%;
    margin-right: 5px;
    box-shadow: 0 0 0 rgba(46, 204, 113, 0.4);
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(46, 204, 113, 0.7);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(46, 204, 113, 0);
    }

    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(46, 204, 113, 0);
    }
}

.logo {
    width: 200px;
}

.logoTitle {
    font-size: 20px;
}

#profileUsername {
    margin-left: 15px;
}

.profilePicture {
    width: 40px;
    border: 1px solid black;
    border-radius: 100%;
}

.flag-row {
    width: 100%;
    display: flex;
    overflow-x: auto;
}

.flag-row::-webkit-scrollbar {
    display: none;
}

.flag-group {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    padding-right: 1em;
}

.slideLeft {
    animation: spinToLeft 8s infinite linear;
}

.slideRight {
    animation: spinToRight 8s infinite linear;
}

.flag {
    flex: 0 0 5em;
    height: 3em;
    padding: 1em;
    font-size: 3rem;
    border-radius: .2em;
    text-align: center;
    align-content: center;
}

@keyframes spinToLeft {
    from {
        translate: 0;
    }

    to {
        translate: -100%
    }
}

@keyframes spinToRight {
    from {
        translate: -100%
    }

    to {
        translate: 0
    }
}

.gamemode {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid black;
    border-radius: .6em;
    background-color: red;
    height: 350px;
    width: 100%;
    position: relative;
    overflow: hidden;
    padding: 20px;
    box-sizing: border-box;
}

.gamemode img {
    width: 80%;
    height: auto;
    transition: all 0.4s cubic-bezier(0.25, 1, 0.5, 1);
}

.gamemode h5 {
    margin: 15px 0 5px 0;
    transition: all 0.4s ease;
    font-size: 1.2rem;
}

.description {
    opacity: 0;
    visibility: hidden;
    font-size: 0.9em;
    color: white;
    margin: 0;
    max-height: 0;
    transition: all 0.4s ease;
    transform: translateY(10px);
}


.gamemode:hover img {
    transform: scale(0.6);
    margin-top: -20px;
}

.gamemode:hover h5 {
    transform: scale(0.8);
}

.gamemode:hover .description {
    opacity: 1;
    visibility: visible;
    max-height: 60px;
    transform: translateY(0);
    margin-top: 10px;
}

.customMap {
    background: url(../images/examplelocation.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 400px;
}

.customMapTitle {
    background-color: black;
    opacity: 0.8;
    color: white;
    margin: 0 auto;
}

.customMapRatings {
    background-color: black;
    opacity: 0.8;
    color: white;
}

table img {
    height: 50px;
    display: block;
    margin: auto;
    max-width: 100%;
    object-fit: contain
}

.table-fixed {
    table-layout: fixed;
}

.dropdown-menu{
    opacity: 1 !important;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown:focus-within .dropdown-menu {
    display: block;
}

.dropdown-menu a:hover {
    background-color: rgba(25, 31, 197, 0.199);
    cursor: pointer;
}

.dropdown-icons {
    width: 20px;
    height: 20px;
}

.comparison-container {
    width: 100%;
    background-color: #1a1a1a;
    border-radius: 10px;
    overflow: hidden;
}

.comparison-header,
.comparison-row {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #333;
}

.header-item,
.cell {
    flex: 1;
    padding: 15px;
    text-align: center;
    color: white;
}

.comparison-header {
    background-color: #000;
    font-weight: bold;
    font-size: 0.9rem;
}

.cell img {
    height: 25px;
}

.platform-logo img {
    max-width: 100%;
    object-fit: contain;
    flex-shrink: 0;
}

.input-container {
    position: relative;
    margin-top: 20px;
    width: 100%;
}

.input-container input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    outline: none;
    background: transparent;
}

.input-container label {
    position: absolute;
    left: 12px;
    top: 12px;
    color: #999;
    transition: 0.2s ease all;
    pointer-events: none;
    background-color: white;
    padding: 0 4px;
}

/* AMIKOR fókuszban van, VAGY ha nem üres (a placeholder NEM látszik) */
.input-container input:focus~label,
.input-container input:not(:placeholder-shown)~label {
    top: -10px;
    left: 10px;
    font-size: 12px;
    color: purple;
}

.input-container input:focus {
    border: 2px solid purple;
}

body.modal-open> :not(.modal):not(.modal-backdrop) {
    filter: blur(8px);
    transition: filter 0.5s ease;
}

.login-container {
    position: relative;
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loge {
    width: 95%;
    z-index: 1;
    transition: opacity 0.4s;
}

.progress-svg,
.check-svg {
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.progress-circle {
    fill: #ffffff;
    stroke: #4CAF50;
    stroke-width: 6;
    stroke-linecap: round;
    stroke-dasharray: 283;
    stroke-dashoffset: 283;
    transition: stroke-dashoffset 0.3s ease-in-out, fill 0.3s ease-in-out 0.3s;
}

.spinning .progress-svg {
    animation: rotateFull 1s linear infinite;
}

.spinning .progress-circle {
    stroke-dashoffset: 200;
    opacity: 1;
}

.success-draw .progress-svg {
    transform: rotate(-90deg);
}

.success-draw .progress-circle {
    stroke-dashoffset: 0;
    fill: #4CAF50;
}

.check-mark {
    stroke: #ffffff;
    stroke-width: 8;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 100;
    stroke-dashoffset: 100;
    transition: stroke-dashoffset 0.4s ease 1s;
}

.success-draw .check-mark {
    stroke-dashoffset: 0;
}

.success-draw .loge {
    opacity: 0;
    transform: scale(0.5);
    transition: opacity 0.3s ease-in-out 0.3s, transform 0.3s ease-in-out 0.3s;
}

@keyframes rotateFull {
    100% {
        transform: rotate(360deg);
    }
}

#loginForm {
    transition: max-height 0.6s cubic-bezier(0, 1, 0, 1), opacity 0.4s ease;
    max-height: 500px;
    opacity: 1;
    overflow: hidden;
}

.collapse-out {
    max-height: 0 !important;
    opacity: 0 !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    pointer-events: none;
}

#loginTitle {
    transition: transform 0.5s ease, color 0.5s ease;
}

.custom-modal-content {
    border: none;
    border-radius: 12px;
    overflow: hidden;
}

.custom-modal-header {
    background-color: #f8f9fa;
    padding-bottom: 0;
    border-bottom: none;
}

/* Tab stílusok */
.nav-browser-tabs .nav-link {
    border: 1px solid transparent;
    border-radius: 10px 10px 0px 0px;
    color: #6c757d;
    padding: 10px 25px;
    margin-bottom: -1px;
    transition: all 0.2s ease;
}

.nav-browser-tabs .nav-link:hover {
    background-color: #dbdee2;
}

.nav-browser-tabs .nav-link.active {
    background-color: #943ec9 !important;
    border-color: #dee2e6 #dee2e6 #ffffff !important;
    /* Az alsó vonal eltűnik */
    color: white;
    font-weight: 600;
}

.settings-content {
    min-height: 300px;
    padding: 2rem;
}

.section-title {
    font-weight: 700;
    margin-bottom: 1.5rem;
    color: #343a40;
}

.subtitle {
    font-weight: 700;
    margin-bottom: 1rem;
}

.form-check-input:checked {
    background-color: #943ec9;
    border-color: #943ec9;
}

.btn-purple {
    background-color: #943ec9;
    color: white;
}

.btn-purple:hover {
    background-color: purple;
    ;
    color: white;
}

.buttonIcon {
    width: 20px;
    height: 20px;
}

.dropzone:hover {
    border: 2px dashed #aaa;
    border-radius: 10px;
    cursor: copy;
}

/* reszponzivitas  */

@media screen and (max-width: 576px) {
    .navbar {
        flex-direction: column;
        justify-content: center;
    }

    #onlineAndIP {
        display: none;
    }

    #LogOrDropdown {
        justify-content: center !important;
    }

    .flag {
        height: 100px;
        padding: 0;
    }

    .space-background {
        min-height: 0;
    }

    .col-12 .gamemode {
        flex-direction: row;
        margin-bottom: 20px;
        height: 250px;
        width: 100%;
        padding: 20px;
    }

    .col-12:nth-child(even) .gamemode {
        flex-direction: row-reverse;
    }

    .gamemode img {
        height: 70%;
        object-fit: contain;
    }

    .description {
        opacity: 1;
        visibility: visible;
        max-height: none;
    }

    .gamemode,
    .gamemode * {
        transition: none !important;
        transform: none !important;
        animation: none !important;
        scale: 1 !important;
    }

    .gamemode:hover {
        transform: none !important;
        top: auto !important;
    }

    .gamemode:hover img {
        margin-top: 0 !important;
    }

    .gamemode:hover h5 {
        margin-top: 15px !important;
    }

    .gamemode:hover .description {
        margin-top: 0 !important;
        max-height: none !important;
    }

    .customMaps {
        margin-bottom: 20px;
    }

    .comparison-row {
        display: flex;
        flex-direction: column;
        /* Egymás alá rakja a cellákat */
        margin-bottom: 20px;
        border: 2px solid #333;
        border-radius: 10px;
    }

    .cell {
        width: 100% !important;
        display: flex !important;
        flex-direction: row !important;
        justify-content: space-between !important;
        align-items: center;
        padding: 15px 25px;
        border-bottom: 1px solid #222;
    }

    .cell::before {
        content: attr(data-label);
        display: block;
        color: #888;
        margin-right: 10px;
    }

    .platform-logo {
        justify-content: center !important;
        background-color: #111;
    }

    .platform-logo::before {
        display: none !important;
    }
}

@media screen and (max-width: 767px) {}