html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}

#mapCanvas {
    display: block;
    width: 100%;
    height: 100%;
    flex: 1;
}

#equirectangularPreview {
    display: block;
}

.border-dashed {
    border-style: dashed !important;
}

#plusBtn {
    width: 60px;
    height: 60px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#ujPontCollapse {
    top: 0;
    bottom: 0;
    right: 0;
}

@media (max-width: 992px) {
    #ujPontCollapse {
        top: auto;
        bottom: 0;
        left: 0;
        right: 0;

        width: 100%;

        margin: 0 !important;

        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    #ujPontCollapse .card {
        max-height: 50vh;
        overflow-y: auto;
        border-bottom-left-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
    }

    #equirectangularWrapper {
        min-height: 10vh;
    }
}