html, body {
    height: 100%;
    overflow: hidden;
}

#container {
    height: 100vh;
}

main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#map-wrapper {
    flex: 1;
    position: relative;
    overflow: hidden;
}

#mapCanvas {
    width: 100%;
    height: 100%;
    display: block;
}

.border-dashed {
    border-style: dashed!important;
}
