.row {
    display: flex;
    flex-direction: row;
}

.col {
    display: flex;
    flex-direction: column;
}

.w100 {
    width: 100%;
}

.flex1 {
  flex: 1;
}

.flex1 > div {
  flex: 1 1 0;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.forog {
    transform: rotate(90deg);
}

.felforogPoz {
    transform: rotate(45deg);
}

.felforogNeg {
    transform: rotate(-45deg);
}

.wrap {
    flex-wrap: wrap;
}

.btns {
    width: 150px;
    height: 150px;
}

.btns button {
    width: 100%;
    height: 100%;
}

.around {
    justify-content: space-around;
}

.gap {
    gap: 0.5rem;
}

h2 {
    margin: 0;
}

.m0 {
    margin: 0;
}

button {
    padding: 0;
}

.wfit {
    width: 100%;
}

.wrapreverse {
    flex-wrap: wrap-reverse;
}